/*

COLORS

dark brown #262524
dark dark brown #161615
link orange #FB4
blue #4BF
green #1FB


*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-size on html for rem*/
html {
  font-family: Texta, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

html.export {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  color: #EEE;
  background: #262524;
}

/* margins */
/*h1, h2, h3, h4, h5, h6,
p,
ol, ul,
pre {
  margin-top: 0;
  margin-bottom: 1.0em;
}*/

/* Fonts
------------------------- */

/* montserrat */

/* metafizzy logo */
@font-face {
  font-family: 'Metafizzy Logo';
  src: url('../fonts/metafizzylogo-regular.eot');
  src: url('../fonts/metafizzylogo-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/metafizzylogo-regular.woff') format('woff'),
       url('../fonts/metafizzylogo-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ---- links ---- */

a,
a code {
  color: #FB4;
  text-decoration: none;
}

a:hover,
a:hover code {
  color: #4BF;
}

a:active,
a:active code {
  color: #1FB;
  background: #161615;
}

/* ---- headers ---- */

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-weight: bold;
  font-size: 2.65em;
  margin-bottom: 0.2em;
  margin-top: 2.0em;
}

h1:first-child { margin-top: 0; }

h2 {
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 2.0em;
  margin-bottom: 0.8em;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

/* ---- lists ---- */

ul, ol {
  padding-left: 1.8em;
}

/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #161615;
  color: white;
}

pre {
  padding: 0.8em;
  border-radius: 5px;
  white-space: pre-wrap;
}

code {
  padding: 0.2em 0.3em;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
}

a code {
  background: #A2C;
  color: white;
}

a:hover code {
  color: white;
  background: #D26;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

@media screen and ( min-width: 768px ) {

  html {
    font-size: 19px;
  }

  html.export { font-size: 16px; }

  pre, code, kbd {
    font-size: 15px;
  }

}
