/* ---- demos ---- */

.demo {
  margin-bottom: 0.8em;
}

.demo .isotope,
.demo.isotope {
  border: 2px solid #484542;
  background: hsla(0, 0%, 0%, 0.15);
}

/* horizontal examples need height */
.isotope.horizontal {
  height: 334px;
}

/* clearfix */
.isotope:before,
.isotope:after {
  content: " ";
  display: table;
}

.isotope:after {
  clear: both;
}


/* ---- item elements ---- */



/* varying sizes */
.is-varying-sizes .element-item.width2 { width: 210px; }
.is-varying-sizes .element-item.height2 { height: 210px; }

/* ---- mini items ---- */

.item,
.mini-item {
  float: left;
  width: 50px;
  height: 50px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
  border-color: hsla(0, 0%, 0%, 0.4);
}

.mini-item.w2 { width: 100px; }
.mini-item.h2 { height: 100px; }

.mini-item.w3 { width: 150px; }
.mini-item.h3 { height: 150px; }

.mini-item.gigante {
  width: 150px;
  height: 200px;
}

.clickable .mini-item:hover {
  border-color: #28F;
  background: #8CF;
  cursor: pointer;
}

/* ---- individual demos ---- */

/* flexible 5 columns */
.flex-5-col .grid-sizer,
.flex-5-col .mini-item { width: 20%; }
.flex-5-col .mini-item.w2 { width: 40%; }
.flex-5-col .gutter-sizer { width: 5%; }

/* masonry gutter */
.masonry-gutter .mini-item.w2,
.packery-gutter .mini-item.w2 { width: 110px; }

.packery-gutter .mini-item.h2 { height: 110px; }

/* flexible 4 columns w/ gutter */
.flex-4-col-gutter .grid-sizer,
.flex-4-col-gutter .mini-item { width: 22%; }
.flex-4-col-gutter .mini-item.w2 { width: 48%; }
.flex-4-col-gutter .gutter-sizer { width: 4%; }

/* masonry flex gutter */
#masonry-flex-gutter .gutter-sizer {
  width: 3%;
}

#masonry-horizontal-right-spaced .mini-item {
  margin-right: 10px;
}

/* ---- cells-by-row-element-sizing ---- */

.cells-by-row-element-sizing .mini-item { width: 10.5%; }

.cells-by-row-element-sizing .mini-item.w2 { width: 23%; }

.cells-by-row-element-sizing .grid-sizer {
  width: 25%;
  height: 110px;
}

/* ---- cells-by-column-element-sizing ---- */

.cells-by-row-column-sizing .mini-item { height: 10.5%; }

.cells-by-row-column-sizing .mini-item.w2 { height: 23%; }

.cells-by-row-column-sizing .grid-sizer {
  width: 110px;
  height: 25%;
}

/* ---- counting ---- */

.isotope.counting {
  counter-reset: item;
}

.isotope.counting .item:before {
  counter-increment: item;
  content: counter(item);
  display: block;
  color: #555;
  padding-top: 0.2em;
  text-align: center;
  font-size: 18px;
}

/* ---- measurement demos ---- */

#stamp-demo .mini-item { opacity: 0.8; }

#packery-stamp-opt-demo .stamp1 {
  right: 20%;
  top: 80px;
  width: 45%;
  height: 90px;
}

/* ---- clickable ---- */

.clickable .item:hover {
  border-color: white;
  background: #A2C;
  cursor: pointer;
}

