/* conditional css class
  http://adactio.com/journal/5429/ */
head { font-family: 'base'; }

/* tablet-ish */
@media screen and ( min-width: 800px ) {

  head { font-family: 'desktop'; }

}

/* desktop */
@media screen and ( min-width: 960px ) {

  head { font-family: 'desktop-ish'; }

}
