
/* ---- instruction ---- */

.instruction {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #888;
}

/* ---- warning ---- */

.warning {
  position: relative;
  min-height: 40px;
  background: #FF8;
  color: #333;
  border-radius: 5px;
  margin-bottom: 0.8em;
  padding: 10px;
  padding-left: 60px;
}

.warning a { color: #09F; }

.warning p:last-child {
  margin-bottom: 0;
}

.warning:before {
  content: '!';
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: red;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* ---- notification ---- */

#notification {
  display: none; /* hide by default */
  position: fixed;
  z-index: 20; /* above most stuff */
  bottom: 0px;
  right: 0px;
  background: #A2C;
  padding: 0.5em;
  color: white;
  font-size: 20px;
  pointer-events: none;
}

/* ---- support button ---- */

.support-button {
  font-size: 20px;
}

/* ---- data-license-property ---- */

*[data-license-property] {
  color: #4BF;
}

