<div class="duo__cell example__demo">

  <div class="grid grid--masonry-fluid-gutter js-isotope"
    data-isotope-options='{ "itemSelector": ".grid-item", "percentPosition": true, "masonry": { "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer" } }'>
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {{> grid-items}}
  </div>

  {{#codepens.masonryFluidGutter}}
    {{> edit-demo}}
  {{/codepens.masonryFluidGutter}}

</div>
