/* grid-multi-item
------------------------- */

.grid-multi-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
  border-color: hsla(0, 0%, 0%, 0.4);
}

.grid-multi-item[data-color="blue"] { background: blue; }
.grid-multi-item[data-color="red"] { background: red; }
.grid-multi-item[data-color="yellow"] { background: yellow; }

.grid-multi-item .number {
  font-size: 4.0rem;
  font-weight: 600;
  color: #222;
  padding-top: 0.1em;
  text-align: center;
  line-height: 90px;
}
