<div class="duo__cell example__demo" data-js-module="remove-demo">
  <p class="instruction">Click items to remove</p>
  <div class="grid grid--clickable">
    {{> grid-items}}
  </div>
  <p class="edit"><a href="http://codepen.io/desandro/pen/fHkwt">Edit this example on CodePen</a></p>
</div>
