/* site-nav
------------------------- */

/* ---- site-nav ---- */

.site-nav {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

/* clear fix */
.site-nav:after {
  content: '';
  display: block;
  clear: both;
}

.site-nav__item {
  display: block;
  float: left;
  line-height: 44px; /* inline with title */
}

.site-nav__item__link {
  display: block;
  padding: 0 1.0em;
}

.site-nav__item__link:hover {
  background: #161615;
  color: white;
}

/* selected */
.filtering-page .site-nav__item--filtering a,
.sorting-page .site-nav__item--sorting a,
.options-page .site-nav__item--options a,
.methods-page .site-nav__item--methods a,
.events-page .site-nav__item--events a,
.draggable-page .site-nav__item--draggable a,
.license-page .site-nav__item--license a,
.appendix-page .site-nav__item--appendix a,
.faq-page .site-nav__item--faq a {
  color: #4Bf;
  background: #161615;
}

@media screen and ( min-width: 768px ) {

  .site-nav__item {
    float: none;
  }

  .site-nav__item {
    float: none;
    font-size: 1.1rem;
    line-height: 1.25;
  }


  .site-nav__item__link {
    padding: 7px 20px;
  }
  
}
