/* site-nav
------------------------- */

/* ---- site-nav ---- */

.site-nav {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

/* clear fix */
.site-nav:after {
  content: '';
  display: block;
  clear: both;
}

.site-nav__item {
  display: block;
  float: left;
  line-height: 44px; /* inline with title */
}

.site-nav__item__link {
  display: block;
  padding: 0 1.0em;
}

.site-nav__item__link:hover {
  background: #161615;
  color: white;
}

/* selected */
.page--filtering .site-nav__item--filtering .site-nav__item__link,
.page--sorting .site-nav__item--sorting .site-nav__item__link,
.page--layout .site-nav__item--layout .site-nav__item__link,
.page--layout-modes .site-nav__item--layout-modes .site-nav__item__link,
.page--options .site-nav__item--options .site-nav__item__link,
.page--methods .site-nav__item--methods .site-nav__item__link,
.page--events .site-nav__item--events .site-nav__item__link,
.page--draggable .site-nav__item--draggable .site-nav__item__link,
.page--license .site-nav__item--license .site-nav__item__link,
.page--appendix .site-nav__item--appendix .site-nav__item__link,
.page--faq .site-nav__item--faq a {
  color: #4Bf;
  background: #161615;
}

@media screen and ( min-width: 768px ) {

  .site-nav__item {
    float: none;
  }

  .site-nav__item {
    float: none;
    font-size: 1.1rem;
    line-height: 1.25;
  }


  .site-nav__item__link {
    padding: 7px 20px;
  }
  
}
