<div id="hero">
  <div class="primary-content">

    <h1>Isotope</h1>
    <p class="tagline">Filter &amp; sort magical layouts</p>

    <div class="big-ol-buttons row row3">
      <div class="hero-item cell">
        <a class="button download-js" href="isotope.pkgd.min.js">
          <i class="icon icon-file-download"></i>
          Download isotope.&#8203;pkgd.&#8203;min.js
        </a>
      </div>

      {{! show download docs only in production }}
      {{#unless is_export}}
        <div class="hero-item cell">
          <a class="button download-docs" href="isotope-docs.zip">
            <i class="icon icon-folder-download"></i>
            Download these docs
          </a>
        </div>
      {{/unless}}

      <div class="hero-item cell">
        <a class="button github" href="https://github.com/metafizzy/isotope">
          <i class="icon icon-github"></i>
          Isotope on GitHub
        </a>
      </div>

    </div> {{! .big-ol-buttons }}

  </div> {{! .primary-content }}

  <div class="primary-content">
    <div class="demo">

      <div class="ui-group">
        <h3>Filter</h3>
        <div class="filters button-group js-radio-button-group">
          <button class="button is-checked" data-filter="*">show all</button>
          <button class="button" data-filter=".metal">metal</button>
          <button class="button" data-filter=".transition">transition</button>
          <button class="button" data-filter="ium">&ndash;ium</button>
        </div>
      </div>
      <div class="ui-group">
        <h3>Sort</h3>
        <div class="sort-by button-group js-radio-button-group">
          <button class="button is-checked" data-sort-by="original-order">original order</button>
          <button class="button" data-sort-by="name">name</button>
          <button class="button" data-sort-by="symbol">symbol</button>
          <button class="button" data-sort-by="number">number</button>
        </div>
      </div>

<pre class="code-display"><code>$container.isotope({
  itemSelector: <span class="string">'.element-item'</span>,
  layoutMode: <span class="string">'fitRows'</span>,
  ...
})</code></pre>

      <div class="isotope">
        {{#best-of-elements}}
          <div class="element-item {{#categories}}{{this}} {{/categories}}" data-category="{{firstValue categories}}">
            <h5 class="name">{{name}}</h5>
            <p class="symbol">{{symbol}}</p>
            <p class="number">{{number}}</p>
            <p class="weight">{{weight}}</p>
          </div>
        {{/best-of-elements}}
      </div>
      <p class="edit"><a href="http://codepen.io/desandro/pen/nFrte">Edit this example on CodePen</a></p>
    </div>

  </div> {{! .primary-content }}

</div> {{! #hero }}
