/* ui-group
------------------------- */

.ui-group {
  display: inline-block;
}

.ui-group__title {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 40px;
  margin: 0 10px 0 0;
  font-weight: bold;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}
