<div class="duo__cell example__demo" data-js-module="shuffle-demo">
  <button class="button shuffle-button">Shuffle</button>
  <div class="grid">
    {{> grid-items}}
  </div>
  {{> edit-demo default="EluFg" }}
</div>
