<div class="duo__cell example__demo" data-js-module="shuffle-demo">
  <button class="button shuffle-button">Shuffle</button>
  <div class="grid">
    {{> grid-items}}
  </div>
  {{#codepens.shuffle}}
    {{> edit-demo}}
  {{/codepens.shuffle}}
</div>
