<div class="duo__cell example__demo" data-js="multiple-sort-by">

  <div class="button-group js-radio-button-group">
    <button class="button is-checked" data-sort-by="color,number" />color, number</button>
    <button class="button" data-sort-by="number,color" />number, color</button>
  </div>

  <div class="grid">
    <div class="grid-multi-item" data-color="yellow">
      <p class="number">3</p>
    </div>
    <div class="grid-multi-item" data-color="blue">
      <p class="number">2</p>
    </div>
    <div class="grid-multi-item" data-color="blue">
      <p class="number">1</p>
    </div>
    <div class="grid-multi-item" data-color="yellow">
      <p class="number">1</p>
    </div>
    <div class="grid-multi-item" data-color="yellow">
      <p class="number">2</p>
    </div>
    <div class="grid-multi-item" data-color="blue">
      <p class="number">3</p>
    </div>
    <div class="grid-multi-item" data-color="yellow">
      <p class="number">2</p>
    </div>
    <div class="grid-multi-item" data-color="red">
      <p class="number">2</p>
    </div>
    <div class="grid-multi-item" data-color="red">
      <p class="number">3</p>
    </div>
  </div>

  {{> edit-demo default="sxAJL" }}
</div>
