<div class="element-item {{#categories}}{{this}} {{/categories}}"
  data-category="{{firstValue categories}}">
  <h5 class="name">{{name}}</h5>
  <p class="symbol">{{symbol}}</p>
  <p class="number">{{number}}</p>
  <p class="weight">{{weight}}</p>
</div>
