---
title: Events
---

<div id="notification"></div>

<p>Bind listeners to events with the <a href="methods.html#on">on</a> and <a href="methods.html#off">off</a> methods.</p>

```js
var $grid = $('.grid').isotope({...});

function onArrange() {
  console.log('arrange done');
}
// bind event listener
$grid.isotope( 'on', 'arrangeComplete', onArrange );
// un-bind event listener
$grid.isotope( 'off', 'arrangeComplete', onArrange );
// bind event listener to be triggered just once
$grid.isotope( 'once', 'arrangeComplete', function() {
  console.log('arrange done, just this one time');
});
```

{{! --------------------------------------------------- }}

<h3>arrangeComplete</h3>

<p>Triggered after <a href="methods.html#arrange-isotope"><code>.isotope({...})</code>/<code>arrange</code></a>, when all layout, hide, and reveal transitions have completed.</p>


``` js
// jQuery
$grid.isotope( 'on', 'arrangeComplete', function( filteredItems ) {} )
// vanilla JS
iso.on( 'arrangeComplete', function( filteredItems ) {} )
```

<p class="variable">
  <code class="variable__code">filteredItems</code>
  <span class="variable__type"><i>Array</i> of <i>Isotope.Item</i>s</span>
  <span class="variable__description">Items that are visible</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $grid.isotope( 'on', 'arrangeComplete',
      function( filteredItems ) {
        console.log( 'Isotope arrange completed on ' +
          filteredItems.length + ' items' );
      }
    );
    ```
  </div>
  {{> arrange-complete-demo}}
</div>

{{! --------------------------------------------------- }}

<h3>layoutComplete</h3>

<p>Triggered after a layout and all positioning transitions have completed.</p>


``` js
// jQuery
$grid.isotope( 'on', 'layoutComplete', function( laidOutItems ) {} )
// vanilla JS
iso.on( 'layoutComplete', function( laidOutItems ) {} )
```

<p class="variable">
  <code class="variable__code">laidOutItems</code>
  <span class="variable__type"><i>Array</i> of <i>Isotope.Item</i>s</span>
  <span class="variable__description">Items that were laid out</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $grid.isotope( 'on', 'layoutComplete',
      function( laidOutItems ) {
        console.log( 'Isotope layout completed on ' +
          laidOutItems.length + ' items' );
      }
    );
    ```
  </div>
  {{> layout-complete-demo}}
</div>

{{! --------------------------------------------------- }}

<h3>removeComplete</h3>

``` js
// jQuery
$grid.isotope( 'on', 'removeComplete', function( removedItems ) {} )
// vanilla JS
iso.on( 'removeComplete', function( removedItems ) { //...
```

<p>Triggered after an item element has been removed.</p>

<p class="variable">
  <code class="variable__code">removedItems</code>
  <span class="variable__type"><i>Array</i> of <i>Isotope.Item</i>s</span>
  <span class="variable__description">Items that were removed</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $grid.isotope( 'on', 'removeComplete',
      function( removedItems ) {
        notify( 'Removed ' + removedItems.length + ' items' );
      }
    );
    ```
  </div>
  {{> remove-complete-demo}}
</div>
