---
is_homepage: true
---

<h2>Install</h2>

<h3>Download</h3>

<ul>
  <li><a href="{{source_url_path}}isotope.pkgd.js">isotope.pkgd.js</a> un-minified, or</li>
  <li><a href="{{source_url_path}}isotope.pkgd.min.js">isotope.pkgd.min.js</a> minified</li>
</ul>

<h3>CDN</h3>

<p>Link directly to <a href="https://cdnjs.com/libraries/jquery.isotope">Isotope files on cdnjs</a>.</p>


``` html
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/{{isotope_version}}/isotope.pkgd.js"></script>
<!-- or -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/{{isotope_version}}/isotope.pkgd.min.js"></script>
```

<h3>Package managers</h3>

<p>Install with Bower: <code>bower install isotope --save</code></p>

<p><a href="https://www.npmjs.com/package/isotope-layout">Install with npm</a>: <code>npm install isotope-layout</code></p>

<h2>License</h2>

<h3>Commercial license</h3>

<p>If you want to use Isotope to develop commercial sites, themes, projects, and applications, the Commercial license is the appropriate license. With this option, your source code is kept proprietary. <a href="license.html">Read more about Isotope commercial licensing</a>.</p>

<p>Once purchased, you&rsquo;ll receive a commercial license PDF and be all set to use Isotope in your commercial applications.</p>

<div class="call-out">
  <p>Commercial licenses are no longer available for Isotope v2. <a href="http://isotope.metafizzy.co">Upgrade to Isotope v3</a> to purchase a current commercial license.</p>
</div>

{{! --------------------------------------------------- }}

<h3>Open source license</h3>

<p>If you are creating an open source application under a license compatible with the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL license v3</a>, you may use Isotope under the terms of the GPLv3. <a href="license.html">Read more about Isotope open source licensing</a>.</p>

{{! --------------------------------------------------- }}

<h2>Getting started</h2>

{{! --------------------------------------------------- }}

<h3>HTML</h3>

<p>Include the Isotope <code>.js</code> file in your site.</p>

``` html
<script src="/path/to/isotope.pkgd.min.js"></script>
```

<p>Isotope works on a container element with a group of similar child items.</p>

``` html
<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>
```

{{! --------------------------------------------------- }}

<h3>CSS</h3>

<p>All sizing of items is handled by your CSS.</p>

``` css
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
```

{{! --------------------------------------------------- }}

<h3>Initialize with jQuery</h3>

<p>You can use Isotope as a jQuery plugin:
  <code>$(<span class="string">'selector'</span>).isotope()</code>.</p>

``` js
$('.grid').isotope({
  // options
  itemSelector: '.grid-item',
  layoutMode: 'fitRows'
});
```

{{! --------------------------------------------------- }}

<h3>Initialize with Vanilla JavaScript</h3>

<p>You can use Isotope with vanilla JS:
  <code><span class="keyword">new</span> <span class="isotope_keyword">Isotope</span>( elem, options )</code>.
  The <code><span class="isotope_keyword">Isotope</span>()</code> constructor accepts two arguments: the container element and an options object.</p>

``` js
var elem = document.querySelector('.grid');
var iso = new Isotope( elem, {
  // options
  itemSelector: '.grid-item',
  layoutMode: 'fitRows'
});

// element argument can be a selector string
//   for an individual element
var iso = new Isotope( '.grid', {
  // options
});
```

{{! --------------------------------------------------- }}

<h3>Initialize in HTML</h3>

<p>You can initialize Isotope in HTML, without writing any JavaScript. Add <code>js-isotope</code> to the class of the container element. <a href="options.html">Options</a> can be set with a <code>data-isotope-options</code> attribute.</p>

``` html
<div class="grid js-isotope"
  data-isotope-options='{ "itemSelector": ".item", "layoutMode": "fitRows" }'>
```

<div class="call-out">
  <p>Options set in HTML must be valid JSON. Keys need to be quoted, for example <code><span class="string">"itemSelector"</span>:</code>. Note the HTML attribute <code>data-isotope-options</code> is set with single quotes <code>'</code>, but JSON entities use double-quotes <code>"</code>.</p>
</div>

{{! --------------------------------------------------- }}

<h2>Next</h2>

<p>Learn more about how to use Isotope:</p>

<ul>
  <li><a href="filtering.html">Filtering</a></li>
  <li><a href="sorting.html">Sorting</a></li>
  <li><a href="layout.html">Layout</a></li>
</ul>

{{! --------------------------------------------------- }}

<h2>Isotope in use</h2>

<p>Justin Bieber, <a href="http://www.tylerperry.com/entertainment/">Tyler Perry</a>, <a href="http://colonelsanders.com">Colonel Sanders</a>: they all have used Isotope.</p>

<p>Are you using Isotope? Tweet <a href="https://twitter.com/metafizzyco">@metafizzyco</a> or email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a> to share your work and possibly get it featured here.</p>

{{> in-use-grid}}

{{! --------------------------------------------------- }}

<h2>Twitter updates from <a href="https://twitter.com/metafizzyco">@metafizzyco</a></h2>

<p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=isotope%20from%3Ametafizzyco" data-widget-id="494524574201966592">Tweets about Isotope</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

{{! --------------------------------------------------- }}
