---
title: Layout
---

<h2>Item sizing</h2>

<p>All sizing and styling of items is handled by your own CSS.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` html
    <div class="grid">
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--height2"></div>
      ...
    </div>
    ```

    ``` css
    .grid-item {
      float: left;
      width: 50px;
      height: 50px;
      background: #e6e5e4;
      border: 2px solid #b6b5b4;
    }

    .grid-item--width2 { width: 100px; }
    .grid-item--height2 { height: 100px; }
    ```
  </div>
  <div class="duo__cell examle__demo">
    <div class="grid" data-isotope='{ "masonry": { "columnWidth": 50 } }'>
      {{>grid-items}}
    </div>

    {{> edit-demo default="mEinp" }}
  </div>
</div>

<h3>Responsive layouts</h3>

<p>Item sizes can be set with percentages for responsive layouts. With the <code>masonry</code> layout mode, set percentage-width <code>columnWidth</code> with <a href="options.html#element-sizing">element sizing</a>. Set <code>percentPosition: <span class="literal">true</span></code> so item positions are likewise set with percentages to reduce adjustment transitions on window resize.</p>

<p></p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` html
    <div class="grid">
      <!-- width of .grid-sizer used for columnWidth -->
      <div class="grid-sizer"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      ...
    </div>
    ```

    ``` css
    /* fluid 5 columns */
    .grid-sizer,
    .grid-item { width: 20%; }
    /* 2 columns */
    .grid-item--width2 { width: 40%; }
    ```

    ``` js
    $('.grid').isotope({
      // set itemSelector so .grid-sizer is not used in layout
      itemSelector: '.grid-item',
      percentPosition: true,
      masonry: {
        // use element for option
        columnWidth: '.grid-sizer'
      }
    })
    ```
  </div>
  <div class="duo__cell examle__demo">
    <div class="grid grid--fluid-5-col"
      data-isotope='{ "masonry": { "columnWidth": ".grid-sizer" }, "itemSelector": ".grid-item", "percentPosition": true }'>
      <div class="grid-sizer"></div>
      {{> grid-items-fewer}}
    </div>

    {{> edit-demo default="mIkhq" }}
  </div>
</div>

{{! --------------------------------------------------- }}

<h2>imagesLoaded</h2>

<p>Unloaded images can throw off Isotope layouts and cause item elements to overlap. <a href="http://imagesloaded.desandro.com">imagesLoaded</a> resolves this issue.</p>

<p>Initialize Isotope, then trigger <a href="methods.html#layout"><code>layout</code></a> after each image loads.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    // init Isotope
    var $grid = $('.grid').isotope({
      // options...
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.isotope('layout');
    });
    ```
  </div>
  <div class="duo__cell example__demo">
    {{> imagesloaded-progress}}
  </div>
</div>

<p>Or, initialize Isotope after all images have been loaded.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    var $grid = $('.grid').imagesLoaded( function() {
      // init Isotope after all images have loaded
      $grid.isotope({
        // options...
      });
    });
    ```
  </div>
  <div class="duo__cell example__demo">
    {{> imagesloaded-callback}}
  </div>
</div>

