---
title: Layout modes
---

<p>Isotope has a versatile layout engine allowing you to position items with different layout logic. Set and change layout mode with the <code>layoutMode</code> option.</p>

