---
title: License
---

<h2>Isotope licenses</h2>

<p>Isotope has three kinds of licenses: open-source, commercial, and OEM.</p>

{{! ----------------------------------------------------------------- }}

<h3>Open source license</h3>

<p>The open source license is designed for you to use Isotope to build open source and personal projects. The Isotope open source license is <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. The GPLv3 has many terms, but the most important is how <a href="https://www.gnu.org/licenses/gpl-3.0.html#section5">it is <em>sticky</em> when you distribute your work publicly</a>. From the <a href="https://www.gnu.org/licenses/gpl-faq.html#GPLRequireSourcePostedPublic">GPL FAQ</a>:</p>

<blockquote>
  <p>If you release the modified version to the public in some way, the GPL requires you to make the modified source code available to the program's users, under the GPL.</p>
</blockquote>

<p>Releasing your project that uses Isotope under the GPLv3, in turn, requires your project to be licensed under the GPLv3. If you are okay with this, feel free to use Isotope under the GPLv3, without purchasing a commercial license.</p>

{{! ----------------------------------------------------------------- }}

<h3>Commercial license</h3>

<p>The commercial license is designed to for you to use Isotope in commercial products and applications, without the provisions of the GPLv3. With the commercial license, your code is kept propietary, to yourself. If you want to use Isotope to develop commercial sites, themes, projects, and applications, the commercial license is the appropriate license.</p>

{{! ----------------------------------------------------------------- }}

<h3>Purchasing a commercial license</h3>

<div class="call-out">
  <p>Commercial licenses are no longer available for Isotope v2. <a href="https://isotope.metafizzy.co">Upgrade to Isotope v3</a> to purchase a current commercial license.</p>
</div>

<ul>
  <li>You may use Isotope in as many commercial applications you like.</li>
  <li>You may use Isotope in your own commercial applications and products. For example: premium WordPress, Tumblr, or other CMS themes, plugins and templates.</li>
  <li>Customers and users of your products do not need to purchase their own license &mdash; so long as they are not developing their own commercial products with Isotope.</li>
</ul>

<p>Commercial Licenses are priced per developer. A developer is someone on your team working on a project that uses Isotope.</p>

<div class="duo">
  <div class="duo__cell duo__cell--license-option">
    <p>The <strong>Isotope Commercial Developer License</strong> is for individual developers. Each individual developer needs to purchase a separate license.</p>
  </div>
</div>

<div class="duo">
  <div class="duo__cell duo__cell--license-option">
    <p>The <strong>Isotope Commercial Team License</strong> is for up to 8 developers.</p>
  </div>
</div>

<div class="duo">
  <div class="duo__cell duo__cell--license-option">
    <p>The <strong>Isotope Commercial Organization License</strong> is for an unlimited number of developers. This license covers the entire team no matter how many developers are working on it.</p>
  </div>
</div>

<p>Read the <a href="#isotope-commercial-license-agreement">Isotope Commercial License Agreement</a> below for complete terms and details.</p>

<p>For any questions about licensing, contact us <a href="mailto:licensing@metafizzy.co">licensing@metafizzy.co</a>.</p>

{{! ----------------------------------------------------------------- }}

<h3>Commercial OEM license</h3>

<p>If you want to include Isotope as part of a commercial interface builder, SDK, or toolkit, choose the Commercial OEM license. Commercial OEM licenses are customized for each customer. Contact <a href="mailto:licensing@metafizzy.co">licensing@metafizzy.co</a>.</p>

{{! ----------------------------------------------------------------- }}

{{> commercial-license-agreement}}
