---
title: Options
---

<p>All options are optional, but <a href="#itemselector"><code>itemSelector</code></a> is recommended. <a href="layout-modes.html#layout-mode-options">Layout modes have their own separate options</a>.</p>

``` js
// with jQuery
$('#container').isotope({
  itemSelector: '.item',
  getSortData: {
    name: '.name',
    category: '[data-category]'
  },
  // layout mode options
  masonry: {
    columnWidth: 200
  }
});
```
``` js
// with vanilla JS
var iso = new Isotope( '#container', {
  itemSelector: '.item',
  getSortData: {
    name: '.name',
    category: '[data-category]'
  },
  masonry: {
    columnWidth: 200
  }
});

```
``` html
<!-- in HTML -->
<div id="container" class="js-isotope" data-isotope-options='{ "itemSelector": ".item", "getSortData": { "name": ".name", "category": "[data-category]" }, "masonry": { "columnWidth": 200 } }'>
```

<h2>Setup</h2>

<h3>itemSelector</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value">Selector <i>String</i></span>
  </p>
</div>

<p>Specifies which child elements to be used as item elements. Setting <code>itemSelector</code> is always recommended. <code>itemSelector</code> is useful to exclude <a href="#element-sizing">sizing elements</a>.</p>

``` js
itemSelector: '.item'
```

{{! --------------------------------------------------- }}


<h3>containerStyle</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Object</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code>{ position: <span class="string">'relative'</span> }</code></span>
  </p>
</div>

<p>CSS styles that are applied to the container element. To disable Masonry from setting any CSS to the container element, set <code>containerStyle: <span class="literal">null</span></code>.</p>

{{! --------------------------------------------------- }}

<h3>isResizeBound</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">true</span></code></span>
  </p>
</div>

<p>Binds layout to window resizing.</p>

<p><code>isResizeBound</code> binds layout only when the Masonry instance is first initialized. You can bind and unbind resize layout afterwards with the <a href="methods.html#bindresize"><code>bindResize</code></a> and <a href="methods.html#unbindresize"><code>unbindResize</code></a> methods.</p>

{{! --------------------------------------------------- }}

<h3>isInitLayout</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">true</span></code></span>
  </p>
</div>

<p>Enables layout on initialization. Set this to <code><span class="literal">false</span></code> to disable layout on initialization, so you can use <a href="methods.html">methods</a> or add <a href="events.html">events</a> before the initial layout.</p>

``` js
var $container = $('#container').isotope({
  // disables initial layout
  isInitLayout: false
});
// bind event
$container.isotope( 'on', 'layoutComplete', function() {
  console.log('layout is complete');
});
// manually trigger initial layout
$container.isotope();
```

{{! --------------------------------------------------- }}

<h2>Layout</h2>

<h3>layoutMode</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>String</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="string">'masonry'</span></code></span>
  </p>
</div>

<p>Sets the layout mode used to position items. See <a href="layout-modes.html">docs on layout modes</a>.</p>

{{! --------------------------------------------------- }}

<h3>percentPosition</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">false</span></code></span>
  </p>
</div>

<p>Will set item position in percent values, rather than pixel values. <code>percentPosition</code> works well with percent-width items, as items will not transition their position on resize.</p>

{{! --------------------------------------------------- }}

<h3>Element sizing</h3>

<p>For the sizing options, like <a href="{{root_path}}layout-modes/masonry.html#columnwidth"><code>masonry: columnWidth</code></a> and <a href="{{root_path}}layout-modes/masonry.html#gutter"><code>masonry: gutter</code></a>, you may set these options to an <i>Element</i> or <i>String</i>, in addition to a <i>Number</i>.</p>

``` html
<div id="container">
  <div class="grid-sizer"></div>
  <div class="item"></div>
  <div class="item"></div>
  ...
</div>
```

<p>With a <i>String</i>, Isotope will use the string as a selector to get the first matching element within the container element. The size of that element is then used.</p>

``` js
var $container = $('#container').isotope({
  itemSelector: '.item',
  masonry: {
    columnWidth: '.grid-sizer'
  }
});
```

<div class="warning">
  <p>If you are using element sizing, be sure to set <a href="#itemselector"><code>itemSelector</code></a> as well, so the sizing element does not get used in the layout.</p>
</div>

<p>With an <i>Element</i>, Isotope will use its outer width to set the value of the related property.</p>

``` js
  masonry: {
    columnWidth: $container.find('.grid-sizer')[0]
  }
```

<p>This allows you to control the size of the Isotope layout just with your CSS. This is useful for responsive layouts, keeping control within CSS so you can rely on media queries.</p>

``` css
/* 5 columns by default */
.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 10%; }
}
```

{{! --------------------------------------------------- }}

<h3>stamp</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Element</i>, <i>NodeList</i>, <i>Array</i> of Elements, or Selector <i>String</i></span>
  </p>
</div>

<p>Specifies which elements are <a href="methods.html#stamp">stamped</a> within the layout. These are special layout elements which will not be laid out. Rather, Isotope will layout item elements <em>below</em> stamped elements.</p>

<p>Only <a href="{{root_path}}layout-modes/masonry.html">masonry</a>, <a href="layout-modes/packery.html">packery</a>, and <a href="{{root_path}}layout-modes/masonryhorizontal.html">masonryHorizontal</a> layout modes support stamping.</p>

<p>The <code>stamp</code> option stamps elements only when the Isotope instance is first initialized. You can stamp additional elements afterwards with the <a href="methods.html#stamp"><code>stamp</code> method</a>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
``` html
<div class="grid">
  <div class="stamp stamp1"></div>
  <div class="stamp stamp2"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  ....
</div>
```

``` js
itemSelector: '.grid-item',
stamp: '.stamp'
```

``` css
/* position stamp elements with CSS */
.grid {
  position: relative;
}
.stamp {
  position: absolute;
  background: orange;
  border: 4px dotted black;
}
.stamp1 {
  left: 30%;
  top: 10px;
  width: 20%;
  height: 100px;
}
.stamp2 {
  right: 10%;
  top: 20px;
  width: 70%;
  height: 30px;
}
```
  </div>
  <div class="duo__cell example__demo">
    {{> stamp-option-demo}}

    {{#codepens.stampOption}}
      {{> edit-demo}}
    {{/codepens.stampOption}}
    <p class="edit"><a href="http://codepen.io/desandro/pen/jfhnx">Edit this example on CodePen</a></p>
  </div>
</div>


{{! --------------------------------------------------- }}

<h3>isOriginLeft</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">true</span></code></span>
  </p>
</div>

<p>Controls the horizontal flow of the layout. By default, item elements start positioning at the left. Set to <code><span class="literal">false</span></code> for right-to-left layouts.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    isOriginLeft: false
    ```
  </div>
  <div class="duo__cell example__code">
    <div class="grid grid--counting js-isotope"
      data-isotope-options='{ "isOriginLeft": false }'>
      {{> grid-items}}
    </div>
    {{#codepens.isOriginLeft}}
      {{> edit-demo}}
    {{/codepens.isOriginLeft}}
  </div>
</div>

{{! --------------------------------------------------- }}

<h3>isOriginTop</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">true</span></code></span>
  </p>
</div>

<p>Controls the vertical flow of the layout. By default, item elements start positioning at the top. Set to <code><span class="literal">false</span></code> for bottom-up layouts. It&rsquo;s like Tetris!</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    isOriginTop: false
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid grid--counting js-isotope"
      data-isotope-options='{ "isOriginTop": false }'>
      {{> grid-items}}
    </div>
    {{#codepens.isOriginTop}}
      {{> edit-demo}}
    {{/codepens.isOriginTop}}
  </div>
</div>

{{! --------------------------------------------------- }}

<h2>Filtering</h2>

<h3>filter</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>String</i> or <i>Function</i></span>
  </p>
</div>

<p>Shows items that match the filter and hides items that do not match. See <a href="filtering.html">docs on Filtering</a>.</p>

<p>If set to a string, that value is used as a <a href="filtering.html#selectors">selector</a>.</p>

``` js
$container.isotope({ filter: '.selector' });
```

<p>If <a href="filtering.html#functions"><code>filter</code> is set to a function</a>, that function checks each item and returns <code>true</code> or <code>false</code> if the item should be shown or hidden.</p>

``` js
$container.isotope({
  // filter element with numbers greater than 50
  filter: function() {
    // _this_ is the item element. Get text of element's .number
    var number = $(this).find('.number').text();
    // return true to show, false to hide
    return parseInt( number, 10 ) > 50;
  }
});
```

{{! --------------------------------------------------- }}

<h2>Sorting</h2>

<h3>getSortData</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Object</i></span>
  </p>
</div>

<p>Isotope reads data from markup with the <code>getSortData</code> option. See <a href="sorting.html#getsortdata">complete docs on <code>getSortData</code></a>.</p>

<p><code>getSortData</code> accepts an object. The object&rsquo;s keys are keywords used to <a href="#sortby"><code>sortBy</code></a>. Object values are either a shortcut string or function to retrieve the data.</p>

``` js
var $container = $('#container').isotope({
  getSortData: {
    name: '.name', // text from querySelector
    category: '[data-category]', // value of attribute
    weight: function( itemElem ) { // function
      var weight = $( itemElem ).find('.weight').text();
      return parseFloat( weight.replace( /[\(\)]/g, '') );
    }
  }
});
```

{{! --------------------------------------------------- }}

<h3>sortBy</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>String</i> or <i>Array</i></span>
  </p>
</div>

<p>Specify which property of <code>getSortData</code> to sort items by. The value of <code>sortBy</code> needs to match a property name in <code>getSortData</code>.</p>

``` js
container.isotope({
  getSortData: {
    number: '.number parseInt'
  },
  sortBy : 'number'
});
```

<p>Two additional <code>sortBy</code> options are built in.</p>

<ul>
  <li><code><span class="string">'original-order'</span></code> will use the original order of the item elements to arrange them in the layout.</li>
  <li><code><span class="string">'random'</span></code> is a random order.</li>
</ul>

<p>To sort by multiple properties, you can set <code>sortBy</code> to an array of property names. For example, <code>sortBy: [ 'color', 'number' ]</code> will sort items by color, <em>then</em> by number.</p>

{{! --------------------------------------------------- }}

<h3>sortAscending</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Boolean</i> or <i>Object</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="literal">true</span></code></span>
  </p>
</div>

<p>Sorts items ascending if <code><span class="literal">true</span></code> &ldquo;A, B, C&hellip;&rdquo;, &ldquo;1, 2, 3&hellip;&rdquo;, or descending if <code><span class="literal">false</span></code>, &ldquo;Z, Y, X&hellip;&rdquo;, &ldquo;9, 8, 7&hellip;&rdquo;.</p>

``` js
// sort by number, highest number first
$container.isotope({
  sortBy: 'number',
  sortAscending: false
});
```

<p><code>sortAscending</code> can also accept an object, so that you can set ascending order for each <code>sortBy</code> value.</p>

``` js
  sortAscending: {
    name: true,
    weight: false,
    category: true,
    number: false
  }
```

{{! --------------------------------------------------- }}

<h2>Transitions</h2>

{{! --------------------------------------------------- }}

<h3>transitionDuration</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>String</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code><span class="string">'0.4s'</span></code></span>
  </p>
</div>

<p>Duration of the transition when items change position or appearance, set in a CSS time format.</p>

<p>To disable all transitions, set <code>transitionDuration: <span class="literal">0</span></code>.</p>

{{! --------------------------------------------------- }}

<h3>hiddenStyle</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Object</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code>{ opacity: <span class="literal">0</span>, transform: <span class="string">'scale(0.001)'</span> }</code></span>
  </p>
</div>

<p>The style applied to hide items.</p>

``` js
$('#container').isotope({
  // disable scale transform transition when hiding
  hiddenStyle: {
    opacity: 0
  },
  visibleStyle: {
    opacity: 1
  }
})
```

<p><a href="http://codepen.io/desandro/pen/lxzDA">See demo with only opacity transition</a>.</p>

{{! --------------------------------------------------- }}

<h3>visibleStyle</h3>

<div class="param">
  <p class="param__bit param__bit--type">
    <span class="param__bit__title">Type:</span>
    <span class="param__bit__value"><i>Object</i></span>
  </p>
  <p class="param-bit default">
    <span class="param__bit__title">Default:</span>
    <span class="param__bit__value"><code>{ opacity: <span class="literal">1</span>, transform: <span class="string">'scale(1)'</span> }</code></span>
  </p>
</div>

<p>The style applied to reveal hidden items.</p>

``` js
$('#container').isotope({
  // disable scale transform transition when hiding
  hiddenStyle: {
    opacity: 0
  },
  visibleStyle: {
    opacity: 1
  }
})
```

<p><a href="http://codepen.io/desandro/pen/lxzDA">See demo with only opacity transition</a>.</p>

{{! --------------------------------------------------- }}
