<div class="grid-splash-item grid-splash-item--width2">1</div>
<div class="grid-splash-item grid-splash-item--height2">2</div>
<div class="grid-splash-item">3</div>
<div class="grid-splash-item">4</div>
<div class="grid-splash-item grid-splash-item--width2 grid-splash-item--height2">5</div>
<div class="grid-splash-item grid-splash-item--width2">6</div>
<div class="grid-splash-item grid-splash-item--height2">7</div>
<div class="grid-splash-item">8</div>
<div class="grid-splash-item">9</div>
<div class="grid-splash-item grid-splash-item--width2">10</div>
<div class="grid-splash-item">11</div>
<div class="grid-splash-item">12</div>
