<div class="site-footer">

  <div class="primary-content">
    {{#unless is_export}}
      <p class="footer-copy">Also made by Metafizzy</p>

      {{> other-products}}
    {{/unless}}

    <p class="footer-copy">Follow <a href="https://twitter.com/metafizzyco">@metafizzyco on Twitter for Isotope updates</a></p>
  </div>

  <div class="site-footer__brand">
    {{! logo is broken up so font renders just the logo in M }}
    <a class="site-footer__brand__logo" href="http://metafizzy.co">M<span class="etafizzy">etafizzy</span></a>
    <span class="site-footer__brand__copyright">&copy; 2011&ndash;2015</span>
  </div>

</div>
