/* site-footer
------------------------- */

.site-footer {
  position: relative;
  margin-top: 60px;
  padding: 50px 0;
  background: #161615;
  z-index: 20; /* above page-nav */
}

/* ---- brand ---- */


.site-footer__brand {
  padding: 0 10px;
}

.site-footer .metafizzy-logo {
  display: inline-block;
  width: 50px;
}

.site-footer .metafizzy-wordmark {
  display: inline-block;
  width: 160px;
  height: auto;
}

.site-footer__brand__link:hover .metafizzy-wordmark {
  fill: #4BF;
}

/* ---- footer-copy ---- */


.footer-copy {
  font-size: 1.2rem;
}

/* desktop */
@media screen and ( min-width: 768px ) {
  .site-footer {
    min-height: 240px;
  }

  .site-footer__brand {
    width: 200px;
    position: absolute;
    left: 10px;
    top: 50px;
  }

  .site-footer .metafizzy-logo {
    display: block;
    width: 100px;
    margin: 20px auto 10px;
  }

  .site-footer .metafizzy-wordmark {
    display: block;
    width: 140px;
    margin: 0 auto;
  }
}
