/* site-footer
------------------------- */

.site-footer {
  position: relative;
  margin-top: 60px;
  padding: 50px 0;
  background: #161615;
  z-index: 20; /* above page-nav */
}

/* ---- brand ---- */


.site-footer__brand {
  padding: 0 10px;
}

.site-footer .metafizzy-logo {
  display: inline-block;
  width: 50px;
}

.site-footer .metafizzy-wordmark {
  display: inline-block;
  width: 160px;
  height: auto;
}

.site-footer__brand__link:hover .metafizzy-wordmark {
  fill: #4BF;
}

/* ---- footer-copy ---- */


.footer-copy {
  font-size: 1.2rem;
}

/* ---- logo-pizza-banner ---- */

.logo-pizza-banner {
  display: block;
  margin: 40px 0;
  max-width: 1000px;
  background: #262524;
  color: #19F;
  padding-bottom: 10px;
  border-radius: 5px;
}

.logo-pizza-banner:hover {
  background: #1FB;
  color: #333;
}

.logo-pizza-banner__img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.logo-pizza-banner__title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 10px 0;
  font-size: 3.0rem;
}

.logo-pizza-banner__tagline {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}


/* desktop */
@media screen and ( min-width: 768px ) {
  .site-footer {
    min-height: 240px;
  }

  .site-footer__brand {
    width: 200px;
    position: absolute;
    left: 10px;
    top: 50px;
  }

  .site-footer .metafizzy-logo {
    display: block;
    width: 100px;
    margin: 20px auto 10px;
  }

  .site-footer .metafizzy-wordmark {
    display: block;
    width: 140px;
    margin: 0 auto;
  }
}
