<div class="site-footer">

  <div class="primary-content">
    {{#unless isExport}}
      <p class="footer-copy">Also made by Metafizzy</p>

      {{> other-products}}

      <a class="logo-pizza-banner" href="http://logo.pizza">
        <img class="logo-pizza-banner__img" src="http://i.imgur.com/SGskWmF.png" alt="Logo Pizza" />
        <h3 class="logo-pizza-banner__title">Logo Pizza</h3>
        <p class="logo-pizza-banner__tagline">Hot &amp; ready logos for sale</p>
      </a>

    {{/unless}}

    <p class="footer-copy">Follow <a href="https://twitter.com/metafizzyco">@metafizzyco on Twitter for Isotope updates.</a></p>

  </div>

  <div class="site-footer__brand">
    <a class="site-footer__brand__link" href="http://metafizzy.co">
      {{> metafizzy-logo}}
      {{> metafizzy-wordmark}}
    </a>
  </div>

</div>
