<div class="site-footer">

  <div class="primary-content">
    {{#unless is_export}}
      <p class="footer-copy">Also made by Metafizzy</p>

      {{> other-products}}

      {{> refactor-shirt }}
    {{/unless}}

    <p class="footer-copy">Follow <a href="https://twitter.com/metafizzyco">@metafizzyco on Twitter for Isotope updates.</a></p>

    <p class="footer-copy"><a href="https://github.com/metafizzy/next-project/issues">Help decide what Metafizzy&rsquo;s next project will be: Infinite Scroll v2, touch-friendly drag &amp; drop, and more.</a></p>

  </div>

  <div class="site-footer__brand">
    {{! logo is broken up so font renders just the logo in M }}
    <a class="site-footer__brand__link" href="http://metafizzy.co">
      {{> metafizzy-logo}}
      {{> metafizzy-wordmark}}
    </a>
  </div>

</div>
