/* stamp
------------------------- */

.stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: orange;
  border: 4px dotted #161615;
}

/* ---- stamp-option-demo ---- */

.stamp--stamp-option-demo-stamp1 {
  left: 30%;
  top: 10px;
  width: 20%;
  height: 100px;
}

.stamp--stamp-option-demo-stamp2 {
  right: 10%;
  top: 20px;
  width: 70%;
  height: 30px;
}
