/* stagger
------------------------- */

.grid-item.grid-item--stagger-red,
.grid-item.grid-item--stagger-blue {
  width: 60px;
  height: 60px;
}

.grid-item.grid-item--stagger-red { background: #D00; }
.grid-item.grid-item--stagger-blue { background: #19F; }
