/* chunky-butotn
------------------------- */

.chunky-button--fill {
  background-color: #161514;
}

.chunky-button--fill svg path {
  fill: #FB4;
}

.chunky-button--fill:hover {
  background-color: #4FB;
  color: #222;
}

.chunky-button--fill:hover svg path {
  fill: #222;
}
