/* site-footer overwrites
------------------------- */

.site-footer {
  background: #161514;
  position: relative;
}

.site-footer .twitter-logo { fill: #FB4; }
.site-footer a:hover .twitter-logo { fill: #1BF; }

/* ---- mfzy-logo ---- */

.site-footer .mfzy-logo__body-fill { fill: #1BF; }
.site-footer .mfzy-logo__stripes { display: none; }

.site-footer a:hover .mfzy-logo__stripes { display: inline; }

/* ---- mfzy-wordmark ---- */

.mfzy-wordmark { stroke: #1BF; }
.mfzy-brand__link:hover .mfzy-wordmark { stroke: white; }

@media screen and ( min-width: 960px ) {

  /* sidebar brand */

  .site-footer .mfzy-brand {
    position: absolute;
    left: 20px;
    top: 60px;
    width: 180px;
  }

  .site-footer .mfzy-logo {
    display: block;
    width: 108px;
    height: 108px;
    margin: 0 auto 10px;
  }

  .site-footer .mfzy-wordmark {
    margin: 0 auto;
    display: block;
  }

}
