<div class="duo__cell example__demo" data-js-module="stamp-methods-demo">
  <button class="button stamp-button">Toggle stamped</button>
  <div class="grid grid--has-stamp grid--stamp-methods-demo">
    <div class="stamp stamp--stamp-methods-demo"></div>
    {{> grid-items}}
  </div>
  <p class="edit"><a href="http://codepen.io/desandro/pen/wguvo">Edit this example on CodePen</a></p>
</div>
