/* hero
------------------------- */


.hero__title {
  font-size: 4.6rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0.1em;
}

.hero__tagline {
  font-size: 1.6rem;
  margin-bottom: 0.8em;
  line-height: 1.2;
}


/* ---- hero__big-buttons__button ---- */

.hero__big-buttons__button {
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px;
  min-height: 52px;
  font-size: 1.2rem;
  background: #161615;
  color: #FB4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.hero__big-buttons__button:hover {
  background: #4FB;
  color: #222;
  text-shadow: none;
}

.hero__big-buttons__button .icon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 32px;
}


/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  .hero__title {
    font-size: 7.0rem;
  }

  .hero__tagline {
    font-size: 2.1rem;
  }

  /* buttons */

  .hero__big-buttons__button {
    float: left;
    width: 31.333%;
    margin-right: 3%;
    font-size: 1.3rem;
    line-height: 1.2;
    padding-left: 86px;
    padding-top: 16px;
    min-height: 94px;
    margin-bottom: 60px;
  }

  .hero__big-buttons__button:last-child {
    margin-right: 0;
  }

  .hero__big-buttons__button .icon {
    font-size: 56px;
    left: 18px;
    top: 16px;
  }

  
}
