<div class="hero">
  <div class="container">

    <h1 class="hero__title">Isotope</h1>

    <p class="hero__tagline">Filter &amp; sort magical layouts</p>

    <p class="hero__gh-button">
      {{> gh-button}}
    </p>

    <div class="duo" style="margin-bottom: 2.0rem;">
      <div class="duo__cell">
        <a class="chunky-button chunky-button--fill" href="{{sourceUrlPath}}isotope.pkgd.min.js">
          <i class="chunky-button__icon">
            {{> js-file}}
          </i>
          <span class="chunky-button__text">
            <span class="chunky-button__text__plain">Download</span>
            <b class="chunky-button__text__strong">isotope.pkgd.min.js</b>
          </span>
        </a>
      </div>

      {{#unless isExport}}
        <div class="duo__cell">
          <a class="chunky-button chunky-button--fill" href="isotope-docs.zip">
            <i class="chunky-button__icon">
              {{> zip-file}}
            </i>
            <span class="chunky-button__text">
              <span class="chunky-button__text__plain">Download</span>
              <b class="chunky-button__text__strong">these docs</b>
            </span>
          </a>
        </div>
      {{/unless}}

    </div>

{{> hero-demo}}

  </div> {{! container }}

</div> {{! hero }}
