<div class="duo other-products">
  <div class="duo__cell other-products__product">
    <a href="http://flickity.metafizzy.co/">
      <img class="other-products__product__image"
        src="http://i.imgur.com/8BFo4Aj.png" alt="Flickity" />
      <h3 class="other-products__product__title">Flickity</h3>
      <p class="other-products__product__description">Touch, responsive, flickable&nbsp;carousels</p>
    </a>
  </div>

  <div class="duo__cell other-products__product">
    <a href="http://packery.metafizzy.co/">
      <img class="other-products__product__image"
        src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
      <h3 class="other-products__product__title">Packery</h3>
      <p class="other-products__product__description">Gap-less, draggable, bin-packing layout library</p>
    </a>
  </div>
</div>
