<p class="edit-demo">
  {{#if vanillaJS}}
    <a href="https://codepen.io/desandro/pen/{{default}}">Edit this demo</a>
    or <a href="https://codepen.io/desandro/pen/{{vanillaJS}}">vanilla JS demo</a> on CodePen
  {{else}}
    <a href="https://codepen.io/desandro/pen/{{default}}">Edit this demo on CodePen</a>
  {{/if}}
</p>
