<div class="big-demo" data-js-module="combination-filters-demo">

  <div class="ui-group">
    <p class="ui-group__title">Color</p>
    <div class="button-group js-radio-button-group" data-filter-group="color">
      <button class="button is-checked" data-filter="">any</button>
      {{#combos.colors}}
        <button class="button" data-filter=".{{color}}">{{color}}</button>
      {{/combos.colors}}
    </div>
  </div>

  <div class="ui-group">
    <p class="ui-group__title">Size</p>
    <div class="button-group js-radio-button-group" data-filter-group="size">
      <button class="button is-checked" data-filter="">any</button>
      {{#combos.sizes}}
        <button class="button" data-filter=".{{size}}">{{size}}</button>
      {{/combos.sizes}}
    </div>
  </div>

  <div class="ui-group">
    <p class="ui-group__title">Shape</p>
    <div class="button-group js-radio-button-group" data-filter-group="shape">
      <button class="button is-checked" data-filter="">any</button>
      {{#combos.shapes}}
        <button class="button" data-filter=".{{shape}}">{{shape}}</button>
      {{/combos.shapes}}
    </div>
  </div>

  <pre class="code-display"><code>$grid.isotope({...})</code></pre>

  <div class="grid">
    {{#with combos}}
      {{#each sizes}}
        {{#each ../shapes}}
          {{#each ../../colors}}
            <div class="color-shape {{../../size}} {{../shape}} {{color}}"></div>
          {{/each}}
        {{/each}}
      {{/each}}
    {{/with}}
  </div>

  {{> edit-demo default="JEojz" }}
</div>
