<div class="duo__cell example__demo" data-js-module="insert-demo">
  <button class="button insert-button">Insert items</button>
  <div class="grid">
    <div class="grid-item grid-item--width3"><p class="number">59</p></div>
    <div class="grid-item grid-item--height3"><p class="number">41</p></div>
    <div class="grid-item grid-item--width2"><p class="number">93</p></div>
    <div class="grid-item"><p class="number">5</p></div>
    <div class="grid-item grid-item--height2"><p class="number">17</p></div>
  </div>
  <p class="edit"><a href="http://codepen.io/desandro/pen/byqcz">Edit example on CodePen</a></p>
</div>
