<div class="duo__cell example__demo" data-js="arrange-complete">
  <div class="button-group js-radio-button-group">
    <button class="button is-checked" data-filter="*">show all</button>
    <button class="button" data-filter=".grid-item--width2">width 2</button>
    <button class="button" data-filter=".grid-item--height2">height 2</button>
  </div>
  <div class="grid">
    {{> grid-items}}
  </div>
  {{> edit-demo default="pvXxRN" }}
</div>
