<div id="hero">
  <div class="primary-content">

    <h1>Isotope</h1>
    <p class="tagline">Filtering &amp; sorting magical layout library</p>

    <div class="hero-item">
      <a class="button download-js" href="masonry.pkgd.min.js">
        <i class="icon icon-file-download"></i>
        Download masonry.&#8203;pkgd.&#8203;min.js
      </a>
    </div>

    {{! show download docs only in production }}
    {{#unless isDev}}
      <div class="hero-item">
        <a class="button download-docs" href="isotope-docs.zip">
          <i class="icon icon-folder-download"></i>
          Download these docs
        </a>
      </div>
    {{/unless}}

    <div class="hero-item">
      <a class="button github" href="https://github.com/metafizzy/isotope">
        <i class="icon icon-github"></i>
        Isotope on GitHub
      </a>
    </div>

  </div> {{! .primary-content }}

</div> {{! #hero }}
