<div id="hero">
  <div class="primary-content">

    <h1>Isotope</h1>
    <p class="tagline">Filtering, sorting, magical layout library</p>

    <div class="hero-item">
      <a class="button download-js" href="isotope.pkgd.min.js">
        <i class="icon icon-file-download"></i>
        Download isotope.&#8203;pkgd.&#8203;min.js
      </a>
    </div>

    {{! show download docs only in production }}
    {{#unless isDev}}
      <div class="hero-item">
        <a class="button download-docs" href="isotope-docs.zip">
          <i class="icon icon-folder-download"></i>
          Download these docs
        </a>
      </div>
    {{/unless}}

    <div class="hero-item">
      <a class="button github" href="https://github.com/desandro/isotope">
        <i class="icon icon-github"></i>
        Isotope on GitHub
      </a>
    </div>

  </div> {{! .primary-content }}

  <div class="primary-content">
    <div class="demo">
      <h3>Filter</h3>
      <div class="filters button-group js-radio-button-group">
        <label class="button">
          <input type="radio" name="filter" value="*" checked="checked" /> show all
        </label>
        <label class="button">
          <input type="radio" name="filter" value=".metal" /> metal
        </label>
        <label class="button">
          <input type="radio" name="filter" value=".transition" /> transition
        </label>
        <label class="button">
          <input type="radio" name="filter" value=":not(.transition)" /> not transition
        </label>
        <label class="button">
          <input type="radio" name="filter" value="numberGreaterThan50" /> number > 50
        </label>
        <label class="button">
          <input type="radio" name="filter" value="ium" /> name ends with &ndash;ium
        </label>
      </div>
      <h3>Sort</h3>
      <div class="sort-by button-group js-radio-button-group">
        <label class="button">
          <input type="radio" name="sort-by" value="original-order" checked="checked" /> original order
        </label>
        <label class="button">
          <input type="radio" name="sort-by" value="name" /> name
        </label>
        <label class="button">
          <input type="radio" name="sort-by" value="symbol" /> symbol
        </label>
        <label class="button">
          <input type="radio" name="sort-by" value="number" /> number
        </label>
        <label class="button">
          <input type="radio" name="sort-by" value="weight" /> weight
        </label>
        <label class="button">
          <input type="radio" name="sort-by" value="category" /> category
        </label>
      </div>
      <div class="isotope">
        {{#best-of-elements}}
          <div class="element-item {{#categories}}{{this}} {{/categories}}" data-category="{{firstValue categories}}">
            <h3 class="name">{{name}}</h3>
            <p class="symbol">{{symbol}}</p>
            <p class="number">{{number}}</p>
            <p class="weight">{{weight}}</p>
          </div>
        {{/best-of-elements}}
      </div>
    </div>


  </div> {{! .primary-content }}

</div> {{! #hero }}
