<!doctype html>
<!--[if lte IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="filter &amp; sort magical layouts" />

  <title>Isotope{{#unless page.is_homepage}} &middot; {{page.title}}{{/unless}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />

  {{#if is_dev}}
    {{! DEV MODE - including each .css file }}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <link rel="stylesheet" href="{{#if page.is_404}}/{{/if}}css/isotope-docs.css" media="screen" />
  {{/if}}

  {{! Twitter Cards }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:url" content="http://isotope.metafizzy.co/{{basename}}.html" />
  <meta name="twitter:title" content="Isotope{{#unless page.is_homepage}} {{page.title}}{{/unless}}" />
  <meta name="twitter:description" content="filter &amp; sort magical layouts" />

</head>
<body class="{{basename}}-page" data-page="{{basename}}">

  <div id="nav">
    <h1><a href="{{root_path}}.">Isotope</a></h1>
    <ol id="site-nav">
      <li class="nav-filtering"><a href="{{root_path}}filtering.html">Filtering</a></li>
      <li class="nav-sorting"><a href="{{root_path}}sorting.html">Sorting</a></li>
      <li class="nav-layout-modes sub-nav">
        <a href="{{root_path}}layout-modes.html">Layout modes</a>
        <ul>
          <li class="nav-masonry"><a href="{{root_path}}layout-modes/masonry.html">masonry</a></li>
          <li class="nav-fitrows"><a href="{{root_path}}layout-modes/fitrows.html">fitRows</a></li>
          <li class="nav-vertical"><a href="{{root_path}}layout-modes/vertical.html">vertical</a></li>
          <li class="nav-cellsbyrow"><a href="{{root_path}}layout-modes/cellsbyrow.html">cellsByRow</a></li>
          <li class="nav-packery"><a href="{{root_path}}layout-modes/packery.html">packery</a></li>
          <li class="nav-masonryhorizontal"><a href="{{root_path}}layout-modes/masonryhorizontal.html">masonryHorizontal</a></li>
          <li class="nav-fitcolumns"><a href="{{root_path}}layout-modes/fitcolumns.html">fitColumns</a></li>
          <li class="nav-cellsbycolumn"><a href="{{root_path}}layout-modes/cellsbycolumn.html">cellsByColumn</a></li>
          <li class="nav-horizontal"><a href="{{root_path}}layout-modes/horizontal.html">horizontal</a></li>
        </ul>
      </li>
      <li class="nav-options"><a href="{{root_path}}options.html">Options</a></li>
      <li class="nav-methods"><a href="{{root_path}}methods.html">Methods</a></li>
      <li class="nav-events"><a href="{{root_path}}events.html">Events</a></li>
      <li class="nav-license"><a href="{{root_path}}license.html">License</a></li>
      <li class="nav-appendix"><a href="{{root_path}}appendix.html">Appendix</a></li>
      <li class="nav-faq"><a href="{{root_path}}faq.html">FAQ</a></li>
    </ol>

    <ul id="page-nav"></ul>

  </div>

  {{! display hero only on index page }}
  {{#if page.is_homepage}}
    {{>hero}}
  {{/if}}

  <div id="content">
    <div class="primary-content">
      {{#unless page.is_homepage}}
        <h1>{{page.title}}</h1>
      {{/unless}}

{{! all page content goes here }}
{{> body}}
    </div>
  </div>

  <div id="footer">


    <div class="primary-content">
      {{#unless is_dev}}
      <p class="footer-copy">Also made by Metafizzy</p>

      <div class="row other-products">
        <div class="cell other-product flickity-product">
          <a href="http://flickity.metafizzy.co/">
            <img src="http://i.imgur.com/8BFo4Aj.png" alt="Flickity" />
            <h3>Flickity</h3>
            <p class="description">Touch, responsive, flickable&nbsp;galleries</p>
          </a>
        </div>

        <div class="cell other-product packery-product">
          <a href="http://packery.metafizzy.co/">
            <img src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
            <h3>Packery</h3>
            <p class="description">Gap-less, draggable, bin-packing layout library</p>
          </a>
        </div>
      </div>
      {{/unless}}

      <p class="footer-copy">Follow <a href="https://twitter.com/metafizzyco">@metafizzyco on Twitter for Isotope updates</a></p>
    </div>

    <div class="brand">
      {{! logo is broken up so font renders just the logo in M }}
      <a class="metafizzy-logo" href="http://metafizzy.co">M<span class="etafizzy">etafizzy</span></a>
      <span class="copyright">&copy; 2011&ndash;2015</span>
    </div>

  </div>

<!-- Isotope does NOT require jQuery. But it does make things easier -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{root_path}}/jquery.min.js"><\/script>')</script>

{{#if is_dev}}
  {{#each js_paths}}
    {{! DEV MODE - including each .js file }}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="{{#if page.is_404}}/{{/if}}js/isotope-docs.min.js"></script>
{{/if}}

{{#unless is_dev}}
  <!-- Google Analytics - Remove this if you copy/pasted this page -->
  <script>
    // Google Analytics
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-58739927-3','auto');ga('send','pageview');
  </script>
{{/unless}}

</body>
</html>
