<div class="in-use-grid go-wide" data-js-module="in-use-grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {{#each inUse}}
    <a class="in-use-grid__item" href="{{url}}">
      <p class="in-use-grid__item__title">{{title}}</p>
      <img class="in-use-grid__item__image" src="{{image}}" />
    </a>
  {{/each}}
</div>
