/* stamp-option-demo
------------------------- */

.stamp--stamp-option-demo-stamp1 {
  left: 30%;
  top: 10px;
  width: 20%;
  height: 100px;
}

.stamp--stamp-option-demo-stamp2 {
  right: 10%;
  top: 20px;
  width: 70%;
  height: 30px;
}
