<div class="stamp-option-demo grid grid--has-stamp js-isotope"
  data-isotope-options='{ "itemSelector": ".grid-item", "stamp": ".stamp" }'>
  <div class="stamp stamp--stamp-option-demo-stamp1"></div>
  <div class="stamp stamp--stamp-option-demo-stamp2"></div>
  {{> grid-items}}
</div>
