/* container
------------------------- */

.container {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1200px;
}

.main .container > * {
  max-width: 700px;
}

.main .container .go-wide,
.main .container .example {
  max-width: none;
}

/* tablet-ish */
@media screen and ( min-width: 768px ) {

  .container {
    margin-left: 220px;
  }

  .main .container > * {
    max-width: 900px;
  }

}

/* desktop */
@media screen and ( min-width: 960px ) {

  .container {
    margin-right: 6%;
  }

}
