<div class="duo__cell example__demo" data-js="destroy">
  <button class="button toggle-button">Toggle Isotope</button>
  <div class="grid">
    {{> grid-items}}
  </div>
  {{> edit-demo default="pcjgk" }}
</div>
