<div class="big-demo go-wide" data-js-module="layout-modes-demo">

  <div class="button-group js-radio-button-group">
    <button class="button is-checked" data-layout-mode="masonry" checked="checked">masonry</button>
    <button class="button" data-layout-mode="fitRows">fitRows</button>
    <button class="button" data-layout-mode="cellsByRow">cellsByRow</button>
    <button class="button" data-layout-mode="vertical">vertical</button>
    <button class="button" data-layout-mode="packery">packery</button>
    <button class="button" data-layout-mode="masonryHorizontal" data-is-horizontal="true">masonryHorizontal</button>
    <button class="button" data-layout-mode="fitColumns" data-is-horizontal="true">fitColumns</button>
    <button class="button" data-layout-mode="cellsByColumn" data-is-horizontal="true">cellsByColumn</button>
    <button class="button" data-layout-mode="horizontal" data-is-horizontal="true">horizontal</button>
  </div>

  <pre class="code-display"><code>$grid.isotope({...})</code></pre>

  <div class="grid">
    {{> grid-splash-items}}
  </div>

  {{#codepens.layoutModesDemo}}
    {{> edit-demo}}
  {{/codepens.layoutModesDemo}}
</div>
