---
title: cellsByRow
---

<p>A grid layout where items are centered inside each cell. The grid is defined by <code>columnWidth</code> and <code>rowHeight</code> options.</p>

<div class="big-demo go-wide">
  <div class="grid js-isotope"
    data-isotope-options='{ "layoutMode": "cellsByRow", "cellsByRow": { "columnWidth": 220, "rowHeight": 220 } }'>
    {{> grid-splash-items}}
  </div>
  {{#codepens.cellsByRow}}
    {{> edit-demo}}
  {{/codepens.cellsByRow}}
</div>


<h2>Install</h2>

<p>This layout mode is not included in <a href="../isotope.pkgd.js">isotope.pkgd.js</a> and must be installed separately.</p>

<p><a href="https://raw.github.com/metafizzy/isotope-cells-by-row/master/cells-by-row.js">Download cells-by-row.js on GitHub</a>.</p>

<p>Install with Bower:</p>

``` bash
bower install isotope-cells-by-row
```

<p><a href="https://www.npmjs.com/package/isotope-cells-by-row">Install with npm</a>:</p>

``` bash
npm install isotope-cells-by-row
```

{{! --------------------------------------------------- }}

<h2>Options</h2>

{{! --------------------------------------------------- }}

<h3>columnWidth</h3>

<p>The width of a column of the horizontal grid.</p>

<p>If <code>columnWidth</code> is not set, the outer width of the first element will be used.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    layoutMode: 'cellsByRow',
    cellsByRow: {
      columnWidth: 110,
      rowHeight: 110
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid js-isotope" data-isotope-options='{ "layoutMode": "cellsByRow", "cellsByRow": { "columnWidth": 110, "rowHeight": 110 } }'>
      {{> grid-items-fewer}}
    </div>
    {{#codepens.cellsByRow}}
      {{> edit-demo}}
    {{/codepens.cellsByRow}}
  </div>
</div>

<p>If set to an <i>Element</i> or Selector <i>String</i>, Isotope will use the width of that element. See <a href="options.html#element-sizing">Element sizing</a>. Setting <code>columnWidth</code> with element sizing is recommended if you are using percentage widths or media queries to change the size of items.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    layoutMode: 'cellsByRow',
    itemSelector: '.item',
    percentPosition: true,
    cellsByRow: {
      columnWidth: '.grid-sizer',
      rowHeight: '.grid-sizer'
    }
    ```

    ``` css
    /* isotope element option sizing */
    .grid-sizer {
      width: 25%;
      height: 110px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid grid--cells-by-row-element-sizing js-isotope"
      data-isotope-options='{ "layoutMode": "cellsByRow", "itemSelector": ".grid-item", "percentPosition": true, "cellsByRow": { "columnWidth": ".grid-sizer", "rowHeight": ".grid-sizer" } }'>
      <div class="grid-sizer"></div>
      {{> grid-items-fewer}}
    </div>
    {{#codepens.cellsByRowElementSizing}}
      {{> edit-demo}}
    {{/codepens.cellsByRowElementSizing}}
  </div>
</div>


{{! --------------------------------------------------- }}

<h3>rowHeight</h3>

<p>The width of a column of the vertical grid.</p>

<p>If set to an <i>Element</i> or Selector <i>String</i>, Isotope will use the height of that element. See <a href="options.html#element-sizing">Element sizing</a>. Setting <code>rowHeight</code> with element sizing is recommended if you are using media queries to change the size of items.</p>

<p>If <code>rowHeight</code> is not set, the outer height of the first element will be used.</p>

<p>See examples above.</p>

