---
title: fitColumns
---

<p>Items are arranged into columns. Columns progress horizontally.</p>

<p>fitColumns is ideal for items that have the same width.</p>

<div class="big-demo">
  <div class="grid grid--horizontal js-isotope" style="height: 448px;" data-isotope-options='{ "layoutMode": "fitColumns" }'>
    <div class="grid-splash-item grid-splash-item--height2">1</div>
    <div class="grid-splash-item">2</div>
    <div class="grid-splash-item">3</div>
    <div class="grid-splash-item">4</div>
    <div class="grid-splash-item grid-splash-item--height2">5</div>
    <div class="grid-splash-item">6</div>
    <div class="grid-splash-item">7</div>
    <div class="grid-splash-item grid-splash-item--height2">8</div>
    <div class="grid-splash-item">9</div>
    <div class="grid-splash-item grid-splash-item--height2">10</div>
    <div class="grid-splash-item">11</div>
    <div class="grid-splash-item">12</div>
    <div class="grid-splash-item grid-splash-item--height2">13</div>
    <div class="grid-splash-item">14</div>
    <div class="grid-splash-item">15</div>
    <div class="grid-splash-item">16</div>
    <div class="grid-splash-item grid-splash-item--height2">17</div>
    <div class="grid-splash-item">18</div>

  </div>
  {{#codepens.fitColumns}}
    {{> edit-demo}}
  {{/codepens.fitColumns}}
</div>


<h2>Install</h2>

<p>This layout mode is not included in <a href="../isotope.pkgd.js">isotope.pkgd.js</a> and must be installed separately.</p>

<p><a href="https://raw.github.com/metafizzy/isotope-fit-columns/master/fit-columns.js">Download fit-columns.js on GitHub</a>.</p>

<p>Install with Bower:</p>

``` bash
bower install isotope-fit-columns
```

<p><a href="https://www.npmjs.com/package/isotope-fit-columns">Install with npm</a>:</p>

``` bash
npm install isotope-fit-columns
```


<p>fitColumns does not have any options.</p>
