---
title: fitColumns
---

<p>Items are arranged into columns. Columns progress horizontally.</p>

<p>fitColumns is ideal for items that have the same width.</p>

<div class="demo">
  <div id="fit-columns-feature-demo" class="isotope js-isotope is-varying-sizes rainbowed horizontal" data-isotope-options='{ "layoutMode": "fitColumns" }'>
    <div class="element-item height2"><p class="symbol">1</p></div>
    <div class="element-item"><p class="symbol">2</p></div>
    <div class="element-item"><p class="symbol">3</p></div>
    <div class="element-item"><p class="symbol">4</p></div>
    <div class="element-item height2"><p class="symbol">5</p></div>
    <div class="element-item"><p class="symbol">7</p></div>
    <div class="element-item"><p class="symbol">8</p></div>
    <div class="element-item height2"><p class="symbol">6</p></div>
    <div class="element-item"><p class="symbol">9</p></div>
    <div class="element-item height2"><p class="symbol">10</p></div>
    <div class="element-item"><p class="symbol">11</p></div>
    <div class="element-item"><p class="symbol">12</p></div>
    <div class="element-item height2"><p class="symbol">13</p></div>
    <div class="element-item"><p class="symbol">14</p></div>
    <div class="element-item"><p class="symbol">15</p></div>
    <div class="element-item"><p class="symbol">16</p></div>
    <div class="element-item height2"><p class="symbol">17</p></div>
    <div class="element-item"><p class="symbol">18</p></div>
  </div>
  <p class="edit"><a href="http://codepen.io/desandro/pen/zEAwi">Edit this example on CodePen</a></p>
</div>


<h2>Install</h2>

<p>This layout mode is not included in <a href="../isotope.pkgd.js">isotope.pkgd.js</a> and must be installed separately.</p>

<p><a href="https://raw.github.com/metafizzy/isotope-fit-columns/master/fit-columns.js">Download fit-columns.js on GitHub</a>.</p>

<p>Install with Bower:</p>

``` bash
bower install isotope-fit-columns
```

<p><a href="https://www.npmjs.org/package/isotope-fit-columns">Install with npm</a>:</p>

``` bash
npm install isotope-fit-columns
```


<p>fitColumns does not have any options.</p>
