---
title: fitRows
---

<p>Items are arranged into rows. Rows progress vertically. Similar to what you would expect from a layout that uses CSS floats.</p>

<p>fitRows is ideal for items that have the same height.</p>

<div class="big-demo go-wide">
  <div class="grid js-isotope" data-isotope-options='{ "layoutMode": "fitRows" }'>
    <div class="grid-splash-item grid-splash-item--width2">1</div>
    <div class="grid-splash-item">2</div>
    <div class="grid-splash-item">3</div>
    <div class="grid-splash-item">4</div>
    <div class="grid-splash-item grid-splash-item--width2">5</div>
    <div class="grid-splash-item">6</div>
    <div class="grid-splash-item">7</div>
    <div class="grid-splash-item grid-splash-item--width2">8</div>
    <div class="grid-splash-item">9</div>
    <div class="grid-splash-item grid-splash-item--width2">10</div>
    <div class="grid-splash-item">11</div>
    <div class="grid-splash-item">12</div>
    <div class="grid-splash-item grid-splash-item--width2">13</div>
    <div class="grid-splash-item">14</div>
    <div class="grid-splash-item">15</div>
    <div class="grid-splash-item">16</div>
  </div>

  {{#codepens.fitRows}}
    {{> edit-demo}}
  {{/codepens.fitRows}}
</div>

<p>fitRows does not have any options.</p>
