---
title: fitRows
---

<p>Items are arranged into rows. Rows progress vertically. Similar to what you would expect from a layout that uses CSS floats.</p>

<p>fitRows is ideal for items that have the same height.</p>

<div class="big-demo go-wide">
  <div class="grid js-isotope" data-isotope-options='{ "layoutMode": "fitRows" }'>
    <div class="grid-splash-item grid-splash-item--width2">1</div>
    <div class="grid-splash-item">2</div>
    <div class="grid-splash-item">3</div>
    <div class="grid-splash-item">4</div>
    <div class="grid-splash-item grid-splash-item--width2">5</div>
    <div class="grid-splash-item">6</div>
    <div class="grid-splash-item">7</div>
    <div class="grid-splash-item grid-splash-item--width2">8</div>
    <div class="grid-splash-item">9</div>
    <div class="grid-splash-item grid-splash-item--width2">10</div>
    <div class="grid-splash-item">11</div>
    <div class="grid-splash-item">12</div>
    <div class="grid-splash-item grid-splash-item--width2">13</div>
    <div class="grid-splash-item">14</div>
    <div class="grid-splash-item">15</div>
    <div class="grid-splash-item">16</div>
  </div>

  {{#codepens.fitRows}}
    {{> edit-demo}}
  {{/codepens.fitRows}}
</div>

{{! --------------------------------------------------- }}

<h2>Options</h2>

{{! --------------------------------------------------- }}

<h3>gutter</h3>

<p>Adds horizontal space between item elements.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    layoutMode: 'fitRows',
    fitRows: {
      gutter: 10
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid grid--fit-rows-gutter js-isotope"
      data-isotope-options='{ "layoutMode": "fitRows", "fitRows": { "gutter": 10 }}'>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width3"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    {{#codepens.fit_rows_gutter}}
      {{> edit-demo}}
    {{/codepens.fit_rows_gutter}}
  </div>
</div>

<p>Use <a href="../options.html#element-sizing">element sizing</a> for responsive layouts with percentage widths. Set <code>gutter</code> to an <i>Element</i> or Selector <i>String</i> to use the outer width of the element as the size of the gutter.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` html
    <div class="grid">
      <!-- .gutter-sizer empty element, only used for element sizing -->
      <div class="gutter-sizer"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      ...
    </div>
    ```

    ``` css
    /* fluid 4 columns */
    .grid-item { width: 22%; }
    /* fluid 4% gutter */
    .gutter-sizer { width: 4%; }

    .grid-item--width2 { width: 48%; }
    ```

    ``` js
    layoutMode: 'fitRows',
    itemSelector: '.grid-item',
    percentPosition: true,
    fitRows: {
      gutter: '.gutter-sizer'
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid grid--fluid-gutter js-isotope"
      data-isotope-options='{ "itemSelector": ".grid-item", "layoutMode": "fitRows", "percentPosition": true, "fitRows": { "gutter": ".gutter-sizer" } }'>
      <div class="gutter-sizer"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    {{#codepens.fit_rows_gutter_fluid}}
      {{> edit-demo}}
    {{/codepens.fit_rows_gutter_fluid}}
  </div>
</div>
