---
title: vertical
---

<p>Items are arranged vertically. Useful for simple lists and table-like views.</p>

{{> vertical-list-demo}}

<h2>Options</h2>

<h3>horizontalAlignment</h3>

<p>Aligns items horizontally. Set as a decimal <code>0</code> to <code>1</code>.</p>

``` js
/* default
vertical: {
  // align to origin edge
  horizontalAlignment: 0
} */

vertical: {
  // align to center
  horizontalAlignment: 0.5
}

vertical: {
  // align to opposite edge
  horizontalAlignment: 1
}
```

<div class="row example">
  <div class="cell example-code">
``` js
layoutMode: 'vertical',
vertical: {
  horizontalAlignment: 0.5,
}
```
  </div>
  <div class="cell demo">
    <div class="isotope js-isotope" data-isotope-options='{ "layoutMode": "vertical", "vertical": { "horizontalAlignment": 0.5 } }'>
      <div class="mini-item w2"></div>
      <div class="mini-item"></div>
      <div class="mini-item w3"></div>
      <div class="mini-item"></div>
      <div class="mini-item w3"></div>
      <div class="mini-item w3"></div>
      <div class="mini-item w2"></div>
    </div>
    {{#codepens.verticalHorizontalAlignment}}
      {{> edit-demo}}
    {{/codepens.verticalHorizontalAlignment}}
  </div>
</div>
