---
title: vertical
---

<p>Items are arranged vertically. Useful for simple lists and table-like views.</p>

{{> vertical-list}}

<h2>Options</h2>

<h3>horizontalAlignment</h3>

<p>Aligns items horizontally. Set as a decimal <code>0</code> to <code>1</code>.</p>

``` js
/* default
vertical: {
  // align to origin edge
  horizontalAlignment: 0
} */

vertical: {
  // align to center
  horizontalAlignment: 0.5
}

vertical: {
  // align to opposite edge
  horizontalAlignment: 1
}
```

<div class="duo example">
  <div class="duo__cell example__code">
``` js
layoutMode: 'vertical',
vertical: {
  horizontalAlignment: 0.5,
}
```
  </div>
  <div class="duo__cell example__demo">
    <div class="grid grid--horizontal" data-isotope='{ "layoutMode": "vertical", "vertical": { "horizontalAlignment": 0.5 } }'>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width3"></div>
      <div class="grid-item grid-item--height2"></div>
      <div class="grid-item grid-item--width3"></div>
      <div class="grid-item grid-item--width3"></div>
      <div class="grid-item grid-item--width2"></div>
    </div>
    {{> edit-demo default="vhuIl" }}
  </div>
</div>
